body {
  background-color: #343a40;
}
.App {
  text-align: center;
  margin-top: 30px;
  color: #fff;
}
.red {
  background-color: red;
  border-radius: 10px;
}

.form .top_options {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.top_options .form-group {
  padding: 7px 0;
  margin-right: 15px;
}
.top_options .form-group,
.top_options .form-group label {
  margin-bottom: 0;
}
.elem {
  width: 200px;
}
.elem.city {
  position: relative;
}
.elem.city ul {
  position: absolute;
  left: 2px;
  top: 100%;
  padding: 0;
  width: 100%;
  /* background-color: #fff; */
}
.elem.city ul li {
  list-style: none;
  color: #000;
  text-align: left;
  font-size: 13px;
  padding: 4px 0 4px 5px;
  cursor: pointer;
  background-color: #fff;
  /* transition: all 0.2s ease; */
}
.elem.city ul li:hover {
  background-color: rgb(236, 236, 236);
}
.elem.city ul li:active {
  background-color: #007bff;
  color: #fff;
}
.elem.city ul li:not(:first-child) {
  border-top: 1px solid #ccc;
}
.elem.city input {
  height: calc(1.5em + 0.75rem);
  font-size: 13px;
  font-weight: bold;
}
